*,
*:after,
*:before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
  min-height: 99vh;
  background-color: #f8f8f9;
  /* background-image: url("./assets/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  color: #495b88;
}

h2,
h3,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Playfair Display", serif, italic;
  font-optical-sizing: auto;
  font-style: normal;
}

/* CSS for hiding the bottom navbar on large screens */
@media (min-width: 768px) {
  .bottom-navbar,
  .top-navbar-mobile {
    display: none;
  }
}

/* Optional: Ensure the traditional navbar is not displayed on small screens */
@media (max-width: 767px) {
  .top-navbar {
    display: none;
  }
}

@media (max-width: 640px) {
  .button-navbott {
    height: 5rem;
    /* width: 20rem; */
  }
}
